body{
	font-size:16px;
	color:#fff;
	background-color:white;
	font-family:'Oxygen', sans-serif; 
}
#header-nav{
	background-color: gray;
	border-radius: 0;
	border:1px solid black;
	/*height:120px;*/
}
/*.navbar-brand{
	padding-top: 25px;
}
.navbar-brand h1{
	font-family: 'lora',serif;
	color:#557c3e;
	font-size:1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow:1px 1px 1px #222;
	margin-top: 0;
	margin-bottom:0;
	line-height: .75;
}*/
/*.c1{
	background-color: white;
	color:white;
}
*/
/*.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
*/
.navbar-brand p span{
	vertical-align:middle;
}
#nav-list{
	margin-top: 10px;
	background-color: white;
}
#nav-list a{
	color:black;
	text-align: center;
	/*background-color: white;*/
	/*border:1px soild black;*/
}
#nav-list a:hover{
	background:#E7E7E7;
}
#nav-list a span{
	font-size:1.8em;
	/*background-color: white;*/

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:1px solid #61122f;
}
.navbar-header button.navbar-toggle{
	clear:both;
	margin-top: -30px;
}


.container .jumbotron{
	margin-top: 30px;
	padding:0;
	background-color: darkgray;
}




@media (min-width: 1200px) {
		.container .jumbotron{
		/*background: url('/images/food-1200.jpg') no-repeat;*/
		height: 675px;
		
	}
	
}
@media (min-width: 992px) and (max-width: 1199px){
      .container .jumbotron {
		/*background: url('/images/big-1000.jpg') no-repeat;*/
		height: 558px;

	}

	

}
@media (min-width: 768px) and (max-width: 991px){
		.container.jumbotron{
		/*background: url('/images/big-1000.jpg') no-repeat;*/
		height: 432px;
		
	}

}
 
 /* small devices*/
@media (max-width: 767px){
	.navbar-brand{
		padding-top: 10px;
		height: 80px;
	}
	
	/*.navbar-brand p img{
		height:20px;
	}
*/}


@media (max-width: 479px) {
	.navbar-brand h1{
		padding-top: 5px;font-size: 6vw; 
	}
	
	.col-xxs-12{
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
		float: left;
		width: 100%; 
	}
}

#collapsale-nav a{    /*collapsed nav menu text */
	font-size:1.2em;
}

#collapsale-nav a span {  /*collapsed nav menu glyph*/
	font-size:1em;
	margin-right:5px;
}

#call-btn > a{
	font-size:1.5em;
	display: block;
	margin:0 20px;
	padding:10px;
	border:2px solid #fff;
	background-color: #f6b319;
    color:#951c49;
}	


